<div class="container mt-4 text-center">
  <div class="h1 text-warning">When was I born?</div>
  <label class="h4" for="age">Enter your Age:</label>
  <input
    type="number"
    min="1"
    max="120"
    [(ngModel)]="ageNumber"
    class="form-control mx-auto w-50"
    #age
  />
  <button class="btn btn-outline-warning" (click)="calculateAge()">Show Birth Year</button>
  <div class="h4" style="color: orange" [hidden]="!ageNumber && !yearBorn && !ageContext">
    You were born in {{yearBorn}}.
    <br>
    You are {{ageContext}}.
  </div>
</div>
